<div class="card" from="ConntWithMeTheDivFor1">喵喵喵？</div>
<div class="card" from="AboutMeThe性格WihtMBIT&SBIT">这种东西会变的  应该吧  也许吧</div>
<div class="card" from="AboutMeThe性格WithTips">当然你想也是不可以的啦，我是一点政治都不懂的</div>
<div class="card" from="PlaceConntLook">看不到看不到看不到</div>
<div class="card" from="AboutMeConntMe">不要尝试在上课时间让我回消息</div>
<img class="card" from="公众号" src="/static/img/公众号.jpg" alt="公众号">

<div>
    Ciallo～(∠・ω< )⌒★
    很高兴认识你
    喵～
    欢迎来看一个初中生发疯

    emm看一下我的自我介绍

    兴趣：
    喜欢play电脑
    罗小黑死粉

    性格:
    <div id="AboutMeThe性格WihtMBIT&SBIT">
        MBIT:INFP
        SBIT:DREAM-R
    </div>

    <div id="AboutMeThe性格WithTips">
        tips:不喜欢聊政治话题哦？
    </div>

    <div id="AboutMeConntMe">联系方式：</div>
    邮箱：3890320020@qq.com
    Github（大号）：<a href="https://github.com/crazying-dev">crazying-dev</a>
    Github（小号）：<a href="https://github.com/cary-ing">cary-ing</a>
    B站：不告诉你~（这不是名字-_-）(实际上是还没定下来)
    小红书：<a href="https://xhslink.com/m/7yCXhVvmCaJ">卡里</a>
    微信号<div id="ConntWithMeTheDivFor1">（来唠唠嗑喵？）</div>：Alan_120615
    公众号：<div id="公众号">悬停扫码</div>
    状态：未知

    <div id="PlaceConntLook">
    注：
    本人语文不太好，用词不太美观，谅解一下
    情商也不太高〈捂脸〉

    参考文献（应该看不到吧）：https://ciallovo.top/aboutme.html
    </div>
</div>