<div class="card" from="ConntWithMeTheDivFor1">喵喵喵？</div>
<div class="card" from="AboutMeThe性格WihtMBIT&SBIT">这种东西会变的  应该吧  也许吧</div>
<div class="card" from="AboutMeThe性格WithTips">当然你想也是不可以的啦，我是一点都不懂的啦</div>
<div class="card" from="PlaceConntLook">看不到看不到看不到</div>
<div class="card" from="AboutMeConntMe">不要尝试在上课时间让我回消息</div>
<img class="card" from="公众号" src="//img.crazying-dev.top/crazying-dev.top/OfficialAccount.jpg" alt="公众号" width="430" height="430">

<style>
    #AboutMe{
        margin-left: 5%;
        font-size: 20px;

        line-height: 1.5;
        letter-spacing: 1px;
    }

    #PlaceConntLook{
        font-size: 1px;
    }

    .AboutMebutton{
        font-size: 15px;
        background-color: rgba(0,0,0,0);
        color: rgb(255 150 0 / 0.85);
    }
</style>


<div id="AboutMe" class="DontTon">
    很高兴认识你<br>
    喵～<br>
    欢迎来看一个初中生发疯<br>
    emm 看一下我的自我介绍<br>
    <div><button class="AboutMebutton" id="AboutMeMore" onclick="(() => {UpdataAboutMeMore()})()">more?</button></div><br>
    <br>
    兴趣：<br>
    喜欢play电脑<br>
    罗小黑死粉<br>
    <br>
    性格:<br>
    <div id="AboutMeThe性格WihtMBIT&SBIT">
        MBIT:INFP<br>
        SBIT:DREAM-R<br>
    </div>
    <br>
    <div id="AboutMeThe性格WithTips">
        tips:不喜欢聊政治话题<br>
    </div>
    <br>
    <br>
    <div id="AboutMeConntMe">联系方式：</div><br>
    邮箱：3890320020@qq.com<br>
    <div class="aBackground"><a href="https://github.com/crazying-dev">Github（大号）：crazying-dev</a></div><br>
    <div class="aBackground"><a href="https://github.com/cary-ing">Github（小号）：cary-ing</a></div><br>
    B站：不告诉你~（这不是名字-_-）(实际上是还没定下来)<br>
    小红书：<div class="aBackground"><a href="https://xhslink.com/m/7yCXhVvmCaJ">卡里</a></div><br>
    微信号<div id="ConntWithMeTheDivFor1">（来唠唠嗑喵？）</div>：Alan_120615<br>
    公众号：<div id="公众号">悬停扫码</div><br>
    <br>
    状态：未知<br>

    <div id="PlaceConntLook"><br>
    注：<br>
    本人语文不太好，用词不太美观，谅解一下<br>
    情商也不太高〈捂脸〉<br>
    </div>
    <br>
    我学习编程的路线:<br>
    小学的时候上过一些有关编程的社团课，正经开始学编程是在2025年，开始接触python随后向C++，JavaScript等扩展，随后就有了一些小成就
    <br>
    我会什么语言：<br>
    Python<br>
    <div><button onclick="UpdataAboutMeCan()" class="AboutMebutton" id="AboutMeCan">更多...</button></div>
</div>
<script>
    let A = 0
    function UpdataAboutMeMore(){
        const AboutMeMroe = document.getElementById("AboutMeMore");
        if (A === 0){
            AboutMeMroe.innerHTML =
                "170cm 50kg" + "<br>" +
                "INFP" + "<br>" +
                "DREAM-R" + "<br>" +
                "小部分时间情绪不太稳定" + "<br>" +
                "不具备对他人的攻击力(至少我是这么觉得的)" + "<br>" +
                "理科生，不会文科" + "<br>" +
                "不会吵架" + "<br>" +
                "稍稍有一点心理问题(没啥大不了的)" + "<br>" +
                "平常闲着可无聊，会找人聊天" + "<br>" +
                "是0(不许说我，不然我以后让我男朋友揍你)" + "<br>" +
                "单身(不准说我是单身狗)" + "<br>" +
                "情商不高(不准说我)"
            AboutMeMroe.style.color = 'rgba(150,160,140,0.8)';
            A = 1
        }else if (A === 1){
            AboutMeMroe.innerHTML = "more?"
            AboutMeMroe.style.color = 'rgb(255 150 0 / 0.85)'
        }
    }

    let B = 0
    function UpdataAboutMeCan(){
        const AboutMeCan = document.getElementById("AboutMeCan");
        if (B === 0) {
            AboutMeCan.innerHTML = "没了";
            AboutMeCan.style.color = 'rgba(150,160,140,0.8)';
        }else if (B === 1){
            AboutMeCan.innerHTML = "更多..."
            AboutMeCan.style.color = 'rgb(255 150 0 / 0.85)'
        }
    }
</script>