{# ------------------------------------------------------------------
   404 页（片段，由 base.html include）
   ------------------------------------------------------------------ #}
<div class="notfound">
    <div class="notfound__code">404</div>

    <div class="notfound__cn">
        <span style="animation-delay:.05s">不</span>
        <span style="animation-delay:.12s">好</span>
        <span style="animation-delay:.19s">！</span>
        <span style="animation-delay:.26s">找</span>
        <span style="animation-delay:.33s">不</span>
        <span style="animation-delay:.40s">到</span>
        <span style="animation-delay:.47s">页</span>
        <span style="animation-delay:.54s">面</span>
        <span style="animation-delay:.61s">了</span>
    </div>

    <p class="notfound__desc">这个页面大概是跑到二次元去玩了，要不要回首页重新找找喵？</p>

    <div class="notfound__actions">
        <a class="btn btn--primary" href="/">回到首页</a>
        <a class="btn" href="/CommentMe">联系我</a>
    </div>
</div>
