<div class="errorTitle">
    <div id="errorTitleForN1">N</div>
    <div id="errorTitleForo1">o</div>
    <div id="errorTitleFort">t</div>
    <div id="errorTitleFor">  </div>
    <div id="errorTitleForF">F</div>
    <div id="errorTitleForo2">o</div>
    <div id="errorTitleForu">u</div>
    <div id="errorTitleForn2">n</div>
    <div id="errorTitleFord">d</div>
    <div id="errorTitleFormouse">|</div>
    <script>
        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

        function change(id){
            let a = document.getElementById(id)
            a.style.color = 'rgba(0,0,0,1)'
            if (id === 'errorTitleFor'){
                a.style.width = '25px'
            }else {
                a.style.width = 'auto'
            }
        }

        // 使用
        async function RunErrorTitle() {
            change('errorTitleForN1')
            await sleep(200);
            change('errorTitleForo1')
            await sleep(200);
            change('errorTitleFort')
            await sleep(200);
            change('errorTitleFor')
            await sleep(200);
            change('errorTitleForF')
            await sleep(200);
            change('errorTitleForo2')
            await sleep(200);
            change('errorTitleForu')
            await sleep(200);
            change('errorTitleForn2')
            await sleep(200);
            change('errorTitleFord')
        }
    </script>
</div>
<div class="errorTitlefor2">
    <div class="errorTiTleForChinese">不</div>
    <div class="errorTiTleForChinese">好</div>
    <div class="errorTiTleForChinese">！</div>
    <div class="errorTiTleForChinese">找</div>
    <div class="errorTiTleForChinese">不</div>
    <div class="errorTiTleForChinese">到</div>
    <div class="errorTiTleForChinese">页</div>
    <div class="errorTiTleForChinese">面</div>
    <div class="errorTiTleForChinese">了</div>
    <script></script>
</div>
<script>
    window.onload = function() {
        RunErrorTitle();
    }
</script>